@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('../../shared/styles/styles.css');

*,
*:after,
*:before {
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  font-size: var(--root-font-size);
}

body {
  background-color: var(--main-bg-color);
  padding-top: 56px;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.table__container {
  padding: 0 8px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 3px black;
}

th,
td {
  padding: 4px;
  border: 1px solid var(--td-th-border-color);
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: var(--odd-row-bg-color);
}

@media screen and (min-width: 728px) {
  .container {
    width: 600px;
  }

  .table__container {
    padding: 0;
  }

  th,
  td {
    padding: 1.6rem;
    border: 1px solid var(--td-th-border-color);
    text-align: center;
  }
}
