@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home, .kids, .families {
  display: inline-block;
  height: 374px;
  padding-left: 225px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home h1 {
  color:red;
  text-align: center;
  font-size: 65px;
}

.home a {
  margin: 25px -90px 18px 51px;
    display: inline-flex;
    width: 200px;
    height: 41px;
    line-height: 26px;
    padding: 6px 7px;
    background-color: rgb(243, 34, 7);
    color: white;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}

.home p {
  margin-left: 85px;
}

.home a.edit {
  margin: 12px 1em 12px 42px;
    display: inline-flex;
    width: 100px;
    height: 41px;
    line-height: 26px;
    padding: 6px 24px;
    background-color: rgb(50, 165, 15);
    color: white;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}

.home tr.linhas, th.lin1, th.reg1, tr.registro {
  text-align: left;
}
th {
  text-align: center;
} 

tr {
  text-align: center;
}

